body {
	font-family: "Circular-Medium";
}

a:link, a:visited {
	color: #e30066;
	text-decoration: none;
}

/* Background */
.background {
	position: absolute;
	top: 0;
	left: 0;
}

.maas-logo {
	position: absolute;
	top: 965px;
	left: 45px;
	z-index: 2;
	width: 120px;
}

.bg-triangle {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 0px;
	height: 900px;
	border-style: solid;
	border-width: 900px 330px 0 0;
	border-color: #1f1f1f transparent transparent transparent;
}

.bar {
 	fill: #e30066;
}

.axis {
	font-family: Circular-Bold;
	font-size: 17px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

/* Box */
.box {
	background-color: #CCC;
	height: 200px;
	/*line-height: 180px !important;*/
	border: 10px solid white !important;
	box-sizing: border-box;
	float: left;

	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

.box--sub {
	background-color: #EEE;
	height: 180px;
	line-height: 160px !important;
	border: 10px solid #CCC !important;
}

.box--highlight {
	background-color: #e30066;
	color: #fff;
}

.box--small-text {
	font-size: 24px !important;
}

.reveal .slides section .fragment.highlight-red.visible {
	color: #e30066;
}

/*
$colour-black: #1f1f1f;
$colour-white: #FFF;
$colour-lighter-grey: #f5f5f9;
$colour-light-grey: #d9d7de;
$colour-grey: #bbbabf;
$colour-dark-grey: #5b5a5f;
$colour-darker-grey: #515155;
$colour-pink: #e30066;
$colour-dark-pink: #CF005D;
$colour-teal: #37b6ad;
$colour-dark-teal: #2AA199;
*/
