{
  "name": "MAAS Website",
  "type": "project",
  "description": "Museum of Applied Arts and Sciences",
  "homepage": "http://maas.museum",
  "require": {
    "php": ">=5.3.2",
    "wordpress/wordpress": "4.2.2",
    "fancyguy/webroot-installer": "1.1.0",
    "composer/installers": "v1.0.12",
    "vlucas/phpdotenv": "~1.0.6",
    "wpackagist-plugin/advanced-custom-fields": "4.4.2",
    "wpackagist-plugin/types": "1.7.7",
    "wpackagist-plugin/better-wp-security": "4.8"
  }
}
